html
  head
    title WhoAmI Application 
    
  body
    div(class="container")
        h1 WhoAmI Application
        blockquote <b>How it works:</b>
            ul Enter /whoami onto the url and the app will tell you your ip address and which browser you are currently using.
        
        h3 Example usage:
        code 1. https://whoami-pkh1162.herokuapp.com/whoami
        
        
        h3 Example output
        code 1. {"ipaddress":"81.106.230.78","language":"en-GB,en-US;q=0.8,en;q=0.6","software":"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36"}  
        
        
        
        